:root {
  --primary: #6f38c5;
  --secondary: #87a2fb;
}

.header{
   position: sticky;
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 1rem;
   background: var(--primary);
}

.navbar {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
}

.navbar .title .icon {
  margin-right: 1rem;
  font-size: 2rem;
}

.navbar .title {
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
}

.navbar .list {
  display: flex;
  list-style: none;
}

.navbar .list .list-item {
  padding: 0 .5rem;
}

.navbar .list .list-item a {
  padding: 0 1rem;
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
}


.navbar .list .list-item:hover {
  cursor: pointer;
  scale: 1.05;
  transition: .2s all ease-out;
}

.navbar .list .list-item a:hover{
   text-decoration: underline;
   
}

.navbar .list .list-btn {
  padding: 0 2rem;   
}

.navbar .list .list-btn a {
  text-decoration: none;
  color: white;
  background-color: var(--secondary);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
}

.menu-btn {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar .title {
    padding: 0 0.5rem;
  }

  .navbar .list{
    display: none;
  }
  
  .menu-btn {
    display: block;
    font-size: 2rem;
    color: white;
  }

  .menu-btn:hover {
    cursor: pointer;
  }
}
